
html, body{
    margin:0;
}

.container-fluid{
    /* background-image: url("temp_background.jpg"); */
    background-color: #000000;

    height: 100vh;
}


#timer {
    text-align: center;
   line-height: 100px;
   color:white;
   size: 72px;
   font-size: 100px;
   padding-top: 30%;
   
   }


#textP{
    text-align: center;
   line-height: 100px;
   color:white;
   font-size: 36px;

} 